/* Basic reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-secondary), sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background: var(--gray-50);
  color: var(--gray-800);
  height: -webkit-fill-available;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
  overscroll-behavior: none;
  height: -webkit-fill-available;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 700;
  line-height: 0.9;
}

h1 {
  font-size: clamp(1.7rem, 2.442rem + 1vw, 3.5rem);
}

h2 {
  font-size: clamp(1.5rem, 1.954rem + 0.8vw, 2.5rem);
}

h3 {
  font-size: clamp(1.3rem, 1.563rem + 0.6vw, 2rem);
}

h4 {
  font-size: clamp(1.1rem, 1.250rem + 0.5vw, 1.6rem);
}

h5 {
  font-size: clamp(0.9rem, 1rem + 0.4vw, 1.3rem);
}

h6 {
  font-size: clamp(0.7rem, 0.854rem + 0.5vw, 1.125rem);
}

p {
  font-size: clamp(0.6rem, 0.7rem + 0.375vw, 1rem);
  line-height: 1.1;
}

small,
a {
  font-size: clamp(0.5rem, 0.640rem + 0.2vw, 0.875rem);
}

.text_accent {
  color: var(--teal-500);
  font-weight: bolder;
}

/* === CTA ===*/
a {
  font-family: var(--font-primary), sans-serif;
  position: relative;
  text-decoration: none;
  font-weight: 400;
  text-transform: capitalize;
  color: inherit;
  transition: all 0.2s ease-in-out;
}

a:active {
  color: var(--teal-400);
}

button:active {
  cursor: pointer;
}

button {
  color: var(--teal-500);
  border: solid 3px var(--teal-500);
  border-radius: 10px;
  min-width: 50px;
  min-height: 20px;
  height: fit-content;
  background-color: transparent;
  font-family: var(--font-primary), sans-serif;
  text-transform: capitalize;
  padding: var(--space-xxs) var(--space-md);
  transition: all 0.2s ease-in-out;
}

button:active {
  border: solid 3px var(--teal-500);
  background-color: var(--teal-500);
  color: var(--teal-50);
}

/* === Elements === */
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--gray-50);
}

hr {
  background-color: var(--teal-500);
  border: none;
  width: 100%;
  height: 3px;
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}

li {
  padding: var(--space-xxs) 0;
}

/* === Components === */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7vh;
  border-bottom: 1px solid var(--teal-500);
  z-index: 999;
}

nav > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-sm);
  padding: var(--space-xs);
}

.nav_l {
  align-items: flex-start;
}

.nav_l a {
  font-size: clamp(0.7rem, 0.854rem + 0.5vw, 1.125rem);
}

.nav_r {
  align-items: flex-end;
}

#cta {
  width: 100%;
  max-width: var(--max-width-sm);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-sm);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--teal-500);
  bottom: 0;
  width: 100%;
  background: var(--teal-950);
  color: var(--gray-200);
}

.footer_top,
.footer_bot {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  gap: var(--gap-lg);
  padding: var(--padding-sm);
  max-width: var(--max-width-lg);
}

.ftl,
.ftr,
.ft_lists {
  flex: 1;
}

.footer_bot {
  align-items: center;
}

.ftr {
  display: flex;
  gap: var(--gap-sm);
}

/* === Content Row === */
main {
  position: relative;
  min-height: 100dvh;
  z-index: 0;
}

.logged {
  margin-left: auto;
  width: calc(100% - 15vw);
}

section {
  position: relative;
  height: 100vh;
  width: 100%;
}

/* == Transition == */
.slide_in {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: var(--teal-900);
  transform-origin: bottom;
  z-index: 9999;
}

.slide_out {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--teal-900);
  transform-origin: top;
  z-index: 9999;
}

@media (hover: hover) and (pointer: fine) {

  /* Anchor */
  a:hover {
    color: var(--teal-400);
  }

  /* Button */
  button:hover {
    cursor: pointer;
  }

  button:hover {
    border: solid 3px var(--teal-500);
    background-color: var(--teal-500);
    color: var(--teal-50);
  }
}