@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* === Typography === */
  --font-primary: "Noto Sans Display", sans-serif;
  --font-secondary: "Noto Sans", sans-serif;
  /* === Colors === */
  /* gray */
  --gray-50: hsl(0, 0%, 95%);
  --gray-100: hsl(0, 0%, 90%);
  --gray-200: hsl(0, 0%, 80%);
  --gray-300: hsl(0, 0%, 70%);
  --gray-400: hsl(0, 0%, 60%);
  --gray-500: hsl(0, 0%, 50%);
  --gray-600: hsl(0, 0%, 40%);
  --gray-700: hsl(0, 0%, 30%);
  --gray-800: hsl(0, 0%, 20%);
  --gray-900: hsl(0, 0%, 10%);
  --gray-950: hsl(0, 0%, 5%);
  /* teal */
  --teal-50: oklch(98.4% 0.014 180.72);
  --teal-100: oklch(95.3% 0.051 180.801);
  --teal-200: oklch(91% 0.096 180.426);
  --teal-300:oklch(85.5% 0.138 181.071);
  --teal-400: oklch(70.4% 0.14 182.503);
  --teal-500: oklch(60% 0.118 184.704);
  --teal-600: oklch(51.1% 0.096 186.391);
  --teal-700: oklch(51.1% 0.096 186.391);
  --teal-800: oklch(43.7% 0.078 188.216);
  --teal-900: oklch(38.6% 0.063 188.416);
  --teal-950: oklch(27.7% 0.046 192.524);
  /* === Spacing === */
  --space-xxs: clamp(0.25rem, 0.25rem + 0.2vw, 0.5rem);
  --space-xs: clamp(0.5rem, 0.5rem + 0.5vw, 1rem);
  --space-sm: clamp(0.75rem, 0.75rem + 0.8vw, 1.25rem);
  --space-md: clamp(1rem, 1rem + 1vw, 2rem);
  --space-lg: clamp(1.5rem, 1.5rem + 1.5vw, 3rem);
  --space-xl: clamp(2rem, 2rem + 2vw, 4rem);
  --space-xxl: clamp(3rem, 3rem + 3vw, 6rem);
  /* Gap */
  --gap-sm: var(--space-sm);
  --gap-md: var(--space-md);
  --gap-lg: var(--space-lg);
  /* Padding */
  --padding-sm: var(--space-sm);
  --padding-md: var(--space-md);
  --padding-lg: var(--space-lg);
  /* Max Width */
  --max-width-xxs: 360px;
  --max-width-xs: 576px;
  --max-width-sm: 720px;
  --max-width-md: 960px;
  --max-width-lg: 1200px;
  --max-width-xl: 1400px;
}