.login {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--padding-lg);
    background: var(--violet-50);
    overflow: hidden;
}

form {
    display: flex;
    min-height: 400px;
    min-width: 300px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap-md);
    padding: var(--padding-md);
    background-color: var(--violet-950);
}

input {
    padding: var(--space-xxs);
    border: 2px solid var(--violet-500);
    border-radius: 8px;
    font-size: clamp(0.6rem, 0.7rem + 0.375vw, 1rem);
    color: var(--gray-500);
    min-width: 200px;
}

input:focus{
    outline:none;
    background-color: var(--violet-100);
    color: var(--violet-950);
}
