.calendar {
    padding: var(--padding-sm);
}

.schedule {
    margin-top: var(--space-xs);
    background-color: var(--teal-100);
    width: 100%;
    max-height: 85%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: var(--space-xs);
    grid-row-gap: var(--space-xs);
}

.div1 {
    grid-area: 1 / 2 / 2 / 3;
}

.div2 {
    grid-area: 1 / 3 / 2 / 4;
}

.div3 {
    grid-area: 1 / 4 / 2 / 5;
}

.div4 {
    grid-area: 1 / 5 / 2 / 6;
}

.div5 {
    grid-area: 1 / 6 / 2 / 7;
}

.div6 {
    grid-area: 1 / 7 / 2 / 8;
}

.div7 {
    grid-area: 2 / 1 / 3 / 2;
}

.div8 {
    grid-area: 3 / 1 / 4 / 2;
}

.div9 {
    grid-area: 4 / 1 / 5 / 2;
}

.div10 {
    grid-area: 5 / 1 / 6 / 2;
}

.div11 {
    grid-area: 2 / 2 / 4 / 3;
}

.div12 {
    grid-area: 4 / 3 / 6 / 4;
}

.div13 {
    grid-area: 3 / 7 / 5 / 8;
}