.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 15vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background: var(--teal-900);
    color: var(--gray-100);
    border-right: 1px solid var(--teal-500);
    gap: var(--gap-sm);
    z-index: 999;
}

.logo{
    padding: var(--padding-sm);
    width: 100%;
    height: 10vh;
    border-bottom: 3px solid var(--teal-500);
}

.sitemap {
    width: 100%;
    padding: 0 var(--padding-sm);
    margin-bottom: auto;
}

.bot {
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:0;
    width: 100%;
    padding: var(--padding-sm);
}