.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--padding-sm);
    height: 10vh;
    border-bottom: 3px solid var(--teal-500);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    padding: var(--padding-sm);
    gap: var(--gap-sm);
}
.card {
    background: var(--teal-100);
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 8px 24px rgba(0,0,0,0.08);
    display: flex;
    flex-direction: column;
    transition: transform .2s ease, box-shadow .2s ease;
}

.card img {
    height: 140px;
    width: 100%;
    object-fit: cover;
}
.content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.students {
    font-size: .8rem;
    color: var(--teal-600);
    font-weight: 600;
}

.meta {
    font-size: .8rem;
    color: var(--gray-700);
}
.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    gap: var(--space-xxs);
    margin-top: .75rem;
}

.primary {
    flex: 1;
    background: var(--teal-950);
    border: 3px solid var(--teal-950);
    color: var(--teal-500);
    font-weight: 600;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    aspect-ratio: 1;
    border: 3px solid var(--gray-500);
    background: var(--gray-500);
    color: var(--gray-200);
}

.icon:hover {
    border:3px solid var(--teal-500);
    background: var(--teal-500);
    color: var(--teal-100);
}
